@import "../../../../styles.scss";
.wraaper {
  height: 100%;
  .content-wrapper.two-column-layout{
    .img-part {
    //    background-image: url("../../../../assets/images/bg-login.svg");
       background-size: 100% 100%;
       background-repeat: no-repeat;
    }
  }
}

